body{
    background-color: #ccc;
}
.col-md-7{
    margin-top: 15rem;
    background-color: #fff;
    padding: 1rem;
}
h1{
    background-color: #66f;
    color: white;
}
li{
    list-style-type: none;
}
input, label{
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: normal;
}